<a href="https://colab.research.google.com/github/DanielVelezSolorzano/h/blob/main/Practica1_finalizada_GoogleColab_Jueves_24_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
numero=5;
tmp1="Daniel"
print(numero)
print(f"Mi nombre es {tmp1}")
print(numero+5)
print(numero-3)
print(numero*3)
print(numero/3)
print(numero%3)
print(numero**3)
numero *=2
print(numero)

5
Mi nombre es Daniel
10
2
15
1.6666666666666667
2
125
10

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

In [ ]:
aux1='hello'
aux2='world'
print(aux1+aux2)
print(aux1*2)
print(aux1.capitalize())
print(aux1.upper())
aux3='DANIEL'
print(aux3.lower())
print(aux1.rjust(7))
print(len(aux1))

helloworld
hellohello
Hello
HELLO
daniel
  hello
5

In [ ]:
aux2=list()
aux2.append(4)
aux2.append("Daniel")
aux2.append(True)
print(aux2)
#print(aux2[0])
#print(aux2[1])
#print(aux2[2])
print('***************')
aux2[1]='Daniel'
print(aux2)
aux3=[1,2,3,'Daniel',True,False]
print(aux3)
aux3.pop()

[4, 'Daniel', True]
***************
[4, 'Daniel', True]
[1, 2, 3, 'Daniel', True, False]

False

In [ ]:
tmp1=list(range(100))
for x in tmp1:
    print(f"El valor es: {x}")

El valor es: 0
El valor es: 1
El valor es: 2
El valor es: 3
El valor es: 4
El valor es: 5
El valor es: 6
El valor es: 7
El valor es: 8
El valor es: 9
El valor es: 10
El valor es: 11
El valor es: 12
El valor es: 13
El valor es: 14
El valor es: 15
El valor es: 16
El valor es: 17
El valor es: 18
El valor es: 19
El valor es: 20
El valor es: 21
El valor es: 22
El valor es: 23
El valor es: 24
El valor es: 25
El valor es: 26
El valor es: 27
El valor es: 28
El valor es: 29
El valor es: 30
El valor es: 31
El valor es: 32
El valor es: 33
El valor es: 34
El valor es: 35
El valor es: 36
El valor es: 37
El valor es: 38
El valor es: 39
El valor es: 40
El valor es: 41
El valor es: 42
El valor es: 43
El valor es: 44
El valor es: 45
El valor es: 46
El valor es: 47
El valor es: 48
El valor es: 49
El valor es: 50
El valor es: 51
El valor es: 52
El valor es: 53
El valor es: 54
El valor es: 55
El valor es: 56
El valor es: 57
El valor es: 58
El valor es: 59
El valor es: 60
El valor es: 61
El valor es: 62
El valor es: 63
El valor es: 64
El valor es: 65
El valor es: 66
El valor es: 67
El valor es: 68
El valor es: 69
El valor es: 70
El valor es: 71
El valor es: 72
El valor es: 73
El valor es: 74
El valor es: 75
El valor es: 76
El valor es: 77
El valor es: 78
El valor es: 79
El valor es: 80
El valor es: 81
El valor es: 82
El valor es: 83
El valor es: 84
El valor es: 85
El valor es: 86
El valor es: 87
El valor es: 88
El valor es: 89
El valor es: 90
El valor es: 91
El valor es: 92
El valor es: 93
El valor es: 94
El valor es: 95
El valor es: 96
El valor es: 97
El valor es: 98
El valor es: 99

In [8]:
listaAnimales=list()
listaAnimales.append('monkey')
listaAnimales.append('dog')
listaAnimales.append('cat')
listaAnimales.append('elephant')
#print(listaAnimales)
tmp1=listaAnimales[:3]
print("Animales %s" %(tmp1))

tmp2=listaAnimales[2:]
print("Animales %s" %(tmp2))

tmp3=listaAnimales[2:4]
print("Animales %s" %(tmp3))

listaAnimales[2:4]=['bear','cow']
print(listaAnimales)

Animales ['monkey', 'dog', 'cat']
Animales ['cat', 'elephant']
Animales ['cat', 'elephant']
['monkey', 'dog', 'bear', 'cow']

In [9]:
for numero,animal in enumerate(listaAnimales):
    print('%d: %s' %(numero+1,animal))

1: monkey
2: dog
3: bear
4: cow

In [22]:
lista = list(range(51))
listNumCuadrado = []
for x in lista:
    listNumCuadrado.append(x**2)
print(listNumCuadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [25]:
listNunPa=[i for i in range(1,51) if i%2==0]
print(listNunPa)
ListNumIm=[i for i in range(1,51) if i%2==1]
print(ListNumIm)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [28]:
for key in myDictionary:
  print(myDictionary[key])

cute
small

In [36]:
dictiCuadrado={'1':1,'2':4,'3':9,'4':16}
print(dictiCuadrado)

dictCuadrados={i:i**2 for i in listNumCuadrado}
print(dictCuadrados)

{'1': 1, '2': 4, '3': 9, '4': 16}
{0: 0, 1: 1, 4: 16, 9: 81, 16: 256, 25: 625, 36: 1296, 49: 2401, 64: 4096, 81: 6561, 100: 10000, 121: 14641, 144: 20736, 169: 28561, 196: 38416, 225: 50625, 256: 65536, 289: 83521, 324: 104976, 361: 130321, 400: 160000, 441: 194481, 484: 234256, 529: 279841, 576: 331776, 625: 390625, 676: 456976, 729: 531441, 784: 614656, 841: 707281, 900: 810000, 961: 923521, 1024: 1048576, 1089: 1185921, 1156: 1336336, 1225: 1500625, 1296: 1679616, 1369: 1874161, 1444: 2085136, 1521: 2313441, 1600: 2560000, 1681: 2825761, 1764: 3111696, 1849: 3418801, 1936: 3748096, 2025: 4100625, 2116: 4477456, 2209: 4879681, 2304: 5308416, 2401: 5764801, 2500: 6250000}

In [37]:
setElementos={'Monkey','Donkey','mouse'}
print(setElementos)

{'Monkey', 'Donkey', 'mouse'}

In [39]:
print('Monkey' in setElementos)
setElementos.add('bear')
print(setElementos)
setElementos.remove('Donkey')
print(setElementos)

True
{'bear', 'Monkey', 'Donkey', 'mouse'}
{'bear', 'Monkey', 'mouse'}

FUNCIONES

In [46]:
def suma(a, b):
    return a + b

def es_positivo_o_negativo(numero):
    if numero > 0:
        return "positivo"
    elif numero < 0:
        return "negativo"
    else:
        return "cero"

tmp1 = 8
tmp2 = 6

resultado = suma(tmp1, tmp2)
print(f'La suma es igual: {resultado}')

estado = es_positivo_o_negativo(resultado)
print(f'El resultado es: {estado}.')

La suma es igual: 14
El resultado es: positivo.

In [54]:
class SaludOs(object):
    # Constructor
    def __init__(self, name):
        self.name = name
        # print('Se ejecuta automaticamente')

    def mensaje(self):
        print('Hola', self.name)

name1 = SaludOs('Daniel')
# print(name1.name)
name1.mensaje()

Hola Daniel

In [60]:
class Calculadora:
    def __init__(self):
        pass

    def sumar(self, a, b):
        return a + b

    def restar(self, a, b):
        return a - b

    def multiplicar(self, a, b):
        return a * b

    def dividir(self, a, b):
        if b == 0:
            return "Error: División por cero."
        return a / b

# Ejemplo de uso
calc = Calculadora()

print("Suma:", calc.sumar(5, 3))
print("Resta:", calc.restar(5, 3))
print("Multiplicación:", calc.multiplicar(5, 3))
print("División:", calc.dividir(5, 3))
print("División por cero:", calc.dividir(5, 0))

Suma: 8
Resta: 2
Multiplicación: 15
División: 1.6666666666666667
División por cero: Error: División por cero.

In [64]:
class numeros(object):
    def __init__(self, numero1, numero2):
        self.numero1 = numero1
        self.numero2 = numero2
    def suma(self):
        return self.numero1 + self.numero2
    def resta(self):
        return self.numero1 - self.numero2
    def multiplicacion(self):
        return self.numero1 * self.numero2
    def division(self):
        if self.numero2 == 0:
            return "Error: División por cero."
        return self.numero1 / self.numero2
# Ejemplo de uso
problema1 = numeros(5, 3)
print(problema1.suma())
print(problema1.resta())
print(problema1.multiplicacion())
print(problema1.division())

8
2
15
1.6666666666666667

funciones, clases,